@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
/*Hello again Richard :) */

/*
1. Root Settings
2. Body, HTML settings
3. Navbar
4. Hero
5. Grid section
6. Footer
7. Media queries
*/

/* 1. Root Settings */
* {
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  --one: #337daf;
  --two: #e0e0e0;
  --three: #2e3135;
  --four: #245a7d;
  --five: #000000;

}
/*Validated!*/
/* 2. Body, HTML settings*/
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  background-color: #e0e0e0;
}
/*Validated!*/
/* 3. Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--one);
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  margin: auto;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.navbar .brand-logo{
    margin-top: 2vh;
}
.navbar ul {
    display: flex;
    margin-top: 11vh;
    margin-right: 5vh;
    padding: 0%;
    list-style: none;

}
.navbar li a{
    text-decoration: none;
    color: black;
    padding: 3vh;
    font-size: 20px;
}
.navbar li:hover{
    font-weight: bold;
    font-style: italic;
}
.navbar input{
    padding: 6px;
    border: none;
    width: 40vh;
    margin-left: 5vh;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2px;
    font-size: 17px;
  }
.navbar button {
    width: 10vh;
    height: 5vh;
    font-size: 17px;
}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: var(--two);
    border-radius: 10%;
}
/*Validated!*/


/*4. (I need a) Hero (section)!*/

.heropage{
    background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.1)), url(/img/slamsugeone.jpeg);
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.maintext {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--two);
    font-size: 4rem;
    font-weight: 200;
  }
/*Validated!*/

/* 5. Grid Section*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 10vh;
    height: 100vh;
    row-gap: 10vh;
    grid-template-areas:
    "gridbox1 gridbox1 gridbox2 gridbox2"
    "gridbox3 gridbox3 gridbox3 gridbox3";
}
#gridbox1{
    grid-area: gridbox1;
    border-radius: 8px;
    background-image: url(/img/slamsugtwo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#gridbox2{
    grid-area: gridbox2;
    background-color: var(--four);
    border-radius: 8px;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    color:var(--two);
}
#gridbox2 h2 {
    margin-top: 15vh;
}
#gridbox3{
    grid-area: gridbox3;
    background-color: var(--four);
    border-radius: 8px;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    color:var(--two);
}
#gridbox3 h2 {
    margin-top: 15vh;
}
/*Validated!*/

/* 6. Footer*/
.footergridcontainer {
    display: grid;
    margin-top: 50vh;
    grid-template-columns: repeat(1, 1fr);
    height: 40vh;
    background-color: var(--four);



  }

  #footercomment1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--two);
    margin-top:5vh;
    text-align: center;


  }
  #footercomment2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--two);
    margin-top:5vh;
    text-align: center;



  }

  .footertext {
    grid-column: span 2 / span 2;
    color: var(--two);
    display: flex;
    justify-content: center;
    font-size: 75%;
    text-align: center;


  }

/*Validated!*/

/* 7. media queries*/
@media (max-width: 550px) {
    .footergridcontainer {
      margin-top: 150%;
      grid-template-columns: repeat(1, 1fr);
    }
    .footertext {
        font-size: 60%;
        justify-content:right;
      }
      .footercomment1 {
        font-size: 20%;
    }
  }
@media only screen and (max-width:550px)
{
    .heropage{
        height: 215vh;
    }

}
@media screen and (max-width: 1300px) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 30%;
    }
    .navbar input{
        margin-left: 3vh;
        width: 70%;
    }
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li{
        text-align: center;
    }
    .navbar-links ul li a{
        padding: .05rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
    .brand-logo{
        margin-top: 2vw;
    }
}
@media screen and (max-width:550px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        row-gap: 5vh;
        grid-template-areas:
        "gridbox1"
        "gridbox2"
        "gridbox3";
    }
    #gridbox1{
        height: 50vh;
    }
    #gridbox2{
        height: 50vh;
    }
    #gridbox3{
        height: 50vh;
    }

}
